.rake_test_cache

###
# Ignore Chef key files and secrets
###
.chef/*.pem
.chef/encrypted_data_bag_secret

client/*
!client/.gitkeep
cookbooks
data_bags/users/*
!data_bags/users/.gitkeep
nodes/*
!nodes/.gitkeep
